<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% load icons %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
        
        {% include "navbar.html" %}

        <!-- 
        Welcome
        -->

        <div class="welcome-container">
            <div class="welcome-background">
                <div class="welcome-content">
                    <h1 class="welcome-slogan">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
                    <p class="welcome-detail">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
                    <a class="welcome-button">Shop Now</a>
                    <div class="welcome-data">
                        <div>
                            <h1>200+</h1>
                            <p>International Brands</p>
                        </div>
                        <div>
                            <h1>2,000+</h1>
                            <p>High-Quality Products</p>
                        </div>
                        <div>
                            <h1>30,000+</h1>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-background">
            </div>
        </div>

        <!-- 
        Brands
        -->

        <div class="brands-container">
            <div class="brands">
                <img src="{% static 'images/brands/versace.svg' %}" alt="Versace">
                <img src="{% static 'images/brands/zara.svg' %}" alt="Zara">
                <img src="{% static 'images/brands/gucci.svg' %}" alt="Gucci">
                <img src="{% static 'images/brands/prada.svg' %}" alt="Prada">
                <img src="{% static 'images/brands/calvin.svg' %}" alt="Calvin Klein">
            </div>
        </div>
        
        <!-- 
        Arrivals
        -->

        <div class="arrivals-container">
            <h1 class="arrivals-title">New Arrivals</h1>
            <div class="arrivals">
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <div class="product-money">
                        <p class="product-price">$100</p>
                        <p class="product-exprice">$120</p>
                        <p class="product-discount">-20%</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
            </div>
            <a class="arrivals-button">View All</a>
        </div>

        <!-- 
        Top Selling
        -->

        <div class="topselling-container">
            <h1 class="topselling-title">Top Selling</h1>
            <div class="topselling-products">
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <div class="product-money">
                        <p class="product-price">$100</p>
                        <p class="product-exprice">$120</p>
                        <p class="product-discount">-20%</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
                <div>
                    <img src="{% static 'images/clothes.png' %}" alt="Product 1">
                    <h1 class="product-title">T-shirt with Tape Details</h1>
                    <div class="product-stars-container">
                        <img class="product-stars" src="{% static 'images/stars.svg' %}" alt="Rating">
                        <p>4.5/</p><p class="product-max-rating">5</p>
                    </div>
                    <p class="product-price">$100</p>
                </div>
            </div>

            <a class="topselling-button">View All</a>

        </div>

        <!-- 
        Dress Style
        -->

        <div class="dressstyle-container">
            <div class="dressstyle">
                <h1 class="dressstyle-title">Browse by Dress Style</h1>
                <div class="dressstyle-casual">
                    <h1>Casual</h1>
                </div>
                <div class="dressstyle-formal">
                    <h1>Formal</h1>
                </div>
                <div class="dressstyle-party">
                    <h1>Party</h1>
                </div>
                <div class="dressstyle-gym">
                    <h1>Gym</h1>
                </div>
            </div>
        </div>

        <!-- 
        Happy customers
        -->

        <div class="customers-container">
            <div class="customers">
                <h1 class="customer-title">OUR HAPPY CUSTOMERS</h1>
                <div class="customer-arrow-container">
                    <button class="customer-leftarrow">{% icon 'arrowleft' %}</button>
                    <button class="customer-rightarrow">{% icon 'arrowright' %}</button>
                </div>
                <div class="customer-scroller">
                    <div class="customer-detail">
                        <img class="product-stars" src="{%   static 'images/stars.svg' %}" alt="Rating">
                        <h1 class="customer-name">Sarah M.<i class="customer-check">{% icon 'circlecheck' %}</i></h1>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
                    <div class="customer-detail">
                        <img class="product-stars" src="{%   static 'images/stars.svg' %}" alt="Rating">
                        <h1 class="customer-name">Sarah M.<i class="customer-check">{% icon 'circlecheck' %}</i></h1>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
                    <div class="customer-detail">
                        <img class="product-stars" src="{%   static 'images/stars.svg' %}" alt="Rating">
                        <h1 class="customer-name">Sarah M.<i class="customer-check">{% icon 'circlecheck' %}</i></h1>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
                    <div class="customer-detail">
                        <img class="product-stars" src="{%   static 'images/stars.svg' %}" alt="Rating">
                        <h1 class="customer-name">Sarah M.<i class="customer-check">{% icon 'circlecheck' %}</i></h1>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
                    <div class="customer-detail">
                        <img class="product-stars" src="{%   static 'images/stars.svg' %}" alt="Rating">
                        <h1 class="customer-name">Sarah M.<i class="customer-check">{% icon 'circlecheck' %}</i></h1>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        Footer
        -->

        <footer class="footer-container">
            <div class="footer">


                <div class="footer-subscribe">
                    <h1 class="subscribe-title">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h1>
                    <div>
                        <div class="subscribe-input">
                            <i>{% icon 'mail' %}</i>
                            <input type="email" placeholder="Enter your email adress">
                        </div>
                        <button class="subscribe-button">Subscribe to Newsletter</button>
                    </div>
                </div>

                <div class="social-container">
                    <h1 class="social-title">SHOP.CO</h1>
                    <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                    <div class="social-medias">
                        <a href="x.com"><i>{% icon 'twitter' %}</i></a>
                        <a href="https://www.instagram.com"><i>{% icon 'instagram' %}</i></a>
                        <a href="https://github.com/PhrStyle/Ecommerce-example"><i>{% icon 'github' %}</i></a>
                    </div>
                </div>

                <div class="footer-data-containers footer-company">
                    <h1 class="footer-data-title">COMPANY</h1>
                    <a>About Us</a>
                    <a>Features</a>
                    <a>Work with Us</a>
                    <a>Career</a>
                </div>

                <div class="footer-data-containers">
                    <h1 class="footer-data-title">HELP</h1>
                    <a>Customer Support</a>
                    <a>FAQ</a>
                    <a>Terms & Conditions</a>
                    <a>Privacy Policy</a>
                </div>


                <div class="divisor">
                    <p>© 2000-2021, All rights reserved</p>
                    <div class="paymethods">
                        <img src="{% static 'images/paymethods/visa.svg' %}">
                        <img src="{% static 'images/paymethods/mastercard.svg' %}">
                        <img src="{% static 'images/paymethods/paypal.svg' %}">
                        <img src="{% static 'images/paymethods/apple-pay.svg' %}">
                        <img src="{% static 'images/paymethods/google-pay.svg' %}">
                    </div>
                </div>

        </footer>

</body>
</html>